.btn_ul{
 position: relative;
 padding-bottom: 0.2rem;
 
}
.btn_ul:hover{
    color: var(--tertiary);
}
.btn_ul:hover::after{
    transform: scale(1,1);
}

.btn_ul:after{
    z-index: 1;
    content: "";
    position: absolute;
    background: var(--secondary);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}
.btn_ul::after{
    transition: 0.3s cubic-bezier(.99,1.32,.39,1.24);
    transform: scale(0,1);
}

.btn-rounded {
    display: block;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: black;
    padding: 0.5em;
    border-radius: 1em;
    transition: 0.3s ease-out;
}
.btn-rounded:hover {
    color: var(--tertiary);
    transform: scale(1.05);
}
.welcome-desktop .btn-rounded {
    width: 15em;
    margin: 0 auto;
}
.desc .btn-rounded {
    width: 15em;
    margin: 0 auto;
    margin: 3em auto;
    font-size: 1.1em;    
}