h1, h2, h3, h4, h5, h6 {
    color: var(--text);
    text-align: center;
    padding: 10px 25px;
    font-weight: 400;
}
p {
    font-size: 1.2em;
    color: var(--text);
    font-weight: 200;
  }
a {
    font-weight: 100;
}

.PTB100{
    padding: 100px 0;
}
.PTB50{
    padding: 50px 0;
}
.PTB20{
    padding: 20px 0;
}

.MTB20{
    margin: 20px 0;
}


.PLR100{
    padding: 0 100px;
}
.PLR50{
    padding: 0 50px;
}
.PLR20{
    padding: 0 20px;
}
.PLR10{
    padding: 0 10px;
}

.text-center {
    text-align: center;
}

.max-w-1280 {
    max-width: 1280px;
}

.d-none {
    display: none;
}


.blur10 {
    filter: blur(10px);
}