@media (max-width: 640px){

  .mobile_menu {
    display: block;
    z-index: 9999;
  }

  .mobile_menu.active .bar:nth-child(2){
    opacity: 0;
  }
  .mobile_menu.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    background-color: black;
  }
  .mobile_menu.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    background-color: black;
  }
  
  .navigation li {
    float: none;
    margin-bottom: 25px;
  }
  .navigation ul {
    margin: 0 auto;
    text-align: center;
    padding-top: 35%;
  }
  .navigation {
    position: fixed;
    display: flex;
    right: -100%;
    top: 0;
    width: 70%;
    min-height: 100vh;
    gap: 15px;
    background-color: var(--base);
    opacity: 0.99;
    transition: 0.3s;
  }

  .navigation.active{
    right: 0%;
  }



}

@media (width <= 1023px) {
  .resp {
    max-width: 100%;
  }
  .welcome-desktop {
    display: none;
  }
  .roundPic {
    margin: 0 auto;
  }
  .ShowIMG.large {
    height: 500px;
  }
  .max_height-header {
    min-height: calc(100svh - 50px);
    padding-bottom: 30px;
  }
  .flex-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .max_height-header {
    height: calc(100svh - 50px);
  }
  .resp{
    max-width: 1024px;
    } 
  .navigation li{     
      padding: 0 1em;
    }
  .flex-welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    }
  .welcome {
    display: none;
  }
  .desc {
    display: none;
  }

  .welcome-desktop {
    display: block;
  }
  .flexResp {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  .ShowIMG{
    width: 150px;
    height: 500px;
  }
  .ShowIMG.large{
    width: 90% !important;
  }
  .ShowIMG:hover{
    width: 250px;
    height: 500px;
  } 
}

  @media (min-width: 1280px) {
  .resp {
      max-width: 1280px;
    }
  }
  @media (min-width: 1600px) {
  .resp {
      max-width: 1600px;
    }
  .navigation li{
      padding: 0 2em;
    }
  }

  @media(prefers-reduced-motion) {
    .hidden {
      transition: none;
    }
  }