:root {
    --flat_gray: hsl(0, 0%, 16%);
    --base: #FFF;
    --primary: #a5a3a1;
    --secondary: #1A96E5;
    --tertiary: #D61D1A;
    --text: #0D0D0D;
  }
*{
    box-sizing: border-box;
  }
body{
    background-color: var(--base);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    
}
html{
  scroll-behavior: smooth;
}





.rounded {
  border-radius: 15px;
}
.shadow_box{
  box-shadow: 0 0 40px hsla(0, 0%, 0%, 0.527);
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
}
.TD {
  transform: translateY(100%);
}
.TT {
  transform: translateY(-100%);
}
.TL {
  transform: translatex(-100%);
}
.TR {
  transform: translatex(100%);
}
.show {
  opacity: 1;
  transform: translate(0,0);
  filter: blur(0);
}
.delay200 {
  transition-delay: 200ms;
}
.delay300 {
  transition-delay: 300ms;
}
.delay400 {
  transition-delay: 400ms;
}


/* Sections and divs */
.section_container {
  margin: 0px auto;
  z-index: 1;
}
.divider {
  position: relative;
  width: 100%;
  scroll-margin-top: 50px;
}
.box_container {
  width: auto;
  padding: 0 20px;
}





@keyframes ringAnim {
  0% {
    outline: 4px solid transparent;
  }

  100% {
    outline-offset: 20px;
    outline: 4px solid var(--text);
  }
}




.main_header {
  z-index: 9998;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: hsla(221, 17%, 37%, 0.20);
  backdrop-filter: blur(10px);
}
.nav_container {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }
.navigation a {
  color:var(--text);
  text-decoration: none;
  text-align: center;
}
.navigation li{
  float: left;
  padding: 0 0.5em;
}








.mobile_menu {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: white;
}


/* Wave divider */
.wave {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.wb {
  bottom: -2px;
  transform: rotate(180deg);
}
.wave svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 50px;
}

.wave .shape-fill {
  fill: var(--secondary);
}

/*Images*/
.roundPic {
  border-radius: 50%;
  animation-name: ringAnim;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.profilePic {
  background-image: url(media/profile.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-x: 43%;
}


/* gallery interactive*/
.flexResp {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.ShowIMG {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  height: 150px;
  width:auto;
  background-color: brown;
  border-radius: 50px;
  transition: all 0.4s;
  cursor: pointer;
  overflow: hidden;
  filter: grayscale(100%);
}
.ShowIMG:hover, .ShowIMG.large {
  filter: grayscale(0);
}
.center-cover {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}



.itemBox {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 15px;
  padding: 50px;
  position: relative;
  overflow: hidden;
  transition: 0.4s ease-out;
  text-decoration: none;
  color: black;
  text-align: center;
  max-width: 300px;
  min-width: 200px;
}
.itemBox:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
