.dominator-img {
    width: 100%;
    height: 250px;
    background-image: url("../Dominator.png");
    background-size: cover;
    margin-bottom: 15px;
}
.registry-img {
    width: 100%;
    height: 500px;
    background-image: url("../Registry.png");
    background-size: cover;
    margin-bottom: 15px;
}

.projects-item {
    height: 100%;
    padding: 0 25px;
    width: 45%;
    border: 2px solid var(--border-color);
    margin: 10px auto;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}